# Snippet to allow working with git checkouts of project sites that become
# toplevel directories.
(subproject) {
	# Caddy doesn't know this is a directory, so redirect to trailing / as
	# would usually happen for them.
	redir /{args.0} /{args.0}/ permanent

	handle_path /{args.0}/* {
		root * {$SITE_DIR:sites}/{args.0}
		try_files {path}.html {path}
		file_server
	}
}

# Set this variable in the environment when running in production.
{$SITE_ADDRESS::2015} {
	root * {$SITE_DIR:.}

	# Setup a webhook
	handle /gh/* {
		# https://docs.github.com/en/developers/webhooks-and-events/webhooks/webhook-events-and-payloads#delivery-headers
		@valid_webhook {
			method POST
			header Content-Type application/json
			header User-Agent GitHub-Hookshot/*
			header X-GitHub-Event ping
			header X-GitHub-Event push
			header X-GitHub-Delivery *
			header X-Hub-Signature-256 *
		}

		handle @valid_webhook {
			reverse_proxy * localhost:1234 {
				# Don't leak out internal problems.
				@error status 4xx 5xx
				handle_response @error {
					error 400
				}
			}
		}

		handle {
			error 400
		}
	}

	import subproject basemap
	import subproject cheatsheets
	import subproject cycler
	import subproject devdocs
	import subproject governance
	import subproject matplotblog
	import subproject mpl-altair
	import subproject mpl-bench
	import subproject mpl-third-party

	# Place the brochure site at the top level.
	import subproject mpl-brochure-site
	@brochure file {
		root {$SITE_DIR:sites}/mpl-brochure-site
		try_files {path}.html {path}
	}
	rewrite / /mpl-brochure-site/index.html
	rewrite @brochure /mpl-brochure-site{http.matchers.file.relative}

	# Finally try any of the versioned docs.
	handle {
		root * {$SITE_DIR:sites}/matplotlib.github.com
		try_files {path}.html {path}
		file_server
	}
}
