---

name: Linting
on: [pull_request]

jobs:
  flake8:
    name: flake8
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Set up Python 3
        uses: actions/setup-python@v3

      - name: Install flake8
        run: pip3 install flake8

      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1

      - name: Run flake8
        env:
          REVIEWDOG_GITHUB_API_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        run: |
          set -o pipefail
          flake8 | \
            reviewdog -f=pep8 -name=flake8 \
              -tee -reporter=github-check -filter-mode nofilter

  caddyfmt:
    name: caddyfmt
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3

      - name: Install caddy
        run: |
          sudo apt install -y debian-keyring debian-archive-keyring apt-transport-https
          curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/gpg.key' | \
            sudo tee /etc/apt/trusted.gpg.d/caddy-stable.asc
          curl -1sLf 'https://dl.cloudsmith.io/public/caddy/stable/debian.deb.txt' | \
            sudo tee /etc/apt/sources.list.d/caddy-stable.list
          sudo apt update
          sudo apt install caddy

      - name: Set up reviewdog
        uses: reviewdog/action-setup@v1

      - name: Run caddy validate
        run: caddy validate

      - name: Run caddy fmt
        run: caddy fmt --overwrite

      - name: Run reviewdog
        uses: reviewdog/action-suggester@v1
        with:
          fail_on_error: true
          tool_name: 'caddy fmt'
