---

name: Tests
on: [push, pull_request]

jobs:
  webhook:
    permissions:
      contents: read
    runs-on: ubuntu-latest
    strategy:
      matrix:
        python-version: ["3.11", "3.12"]
    steps:
      - uses: actions/checkout@1af3b93b6815bc44a9784bd300feb67ff0d1eeb3  # v6.0.0
        with:
          persist-credentials: false

      - name: Install Python ${{ matrix.python-version }}
        uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548  # v6.1.0
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dependencies
        run: |
          pip install -r webhook/dev-requirements.txt
          git config --global user.name "GitHub CI Bot"
          git config --global user.email "noone@example.com"

      - name: Run tests
        run: pytest webhook
